FACTORY_DEPLOYED_ADDRESS="0x...b"
POLYGON_MUMBAI_RPC_URL="https://intensive-polished-flower.matic-testnet.discover.quiknode.pro/<KEY>/"
CONTRACT_ADMINISTRATOR_WALLET_PRIVATE_KEY=""
POLYGONSCAN_API_KEY=""
OWNER_WALLET_PRIVATE_KEY=""
RENTER_WALLET_PRIVATE_KEY=""
OWNER_WALLET_ADDRESS=""
RENTER_WALLET_ADDRESS=""